@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  font-family: 'Open Sans', sans-serif;
}
header {
  width: 100%;
  overflow: hidden;
}
header > div {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.custom-form-in-block-form {
  width: 390px;
  float: right;
  background-color: #143654;
  opacity: 0.8;
}
.custom-form-in-block-form form {
  padding: 20px;
}
.custom-form-in-block-form form .form-text, .custom-form-in-block-form form .form-email {
  width: 340px;
  background-color: transparent !important;
  border: 0;
  padding: 10px 10px 2px 0;
  margin-bottom: 10px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  text-shadow: none;
  font-size: 14px;
  border-bottom: 1px dotted #ffffff;
}

::-webkit-input-placeholder {color:#ffffff;}
::-moz-placeholder          {color:#ffffff;}/* Firefox 19+ */
:-moz-placeholder           {color:#ffffff;}/* Firefox 18- */
:-ms-input-placeholder      {color:#ffffff;}
.custom-form-in-block-form form .form-submit {
  display: block;
  margin: 30px auto 0;
  padding: 5px 20px;
  background: #006CE0 0% 0% no-repeat padding-box;
  border: 0;
  color: #ffffff;
}
.custom-form-in-block-form form .form-submit:hover {
  cursor: pointer;
}
.custom-form-in-block-form form .form-text:focus, .custom-form-in-block-form form .form-email:focus {
  outline: none;
}
.custom-form-in-block-form h2 {
  font-weight: normal;
  font-size: 25px;
  line-height: 34px;
  padding: 10px 59px 10px;
  margin-top: 0;
  text-align: center;
  background: #006CE0 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #fff;
}
.custom-form-in-block-form p {
  color: #ffffff;
  padding: 0 20px 20px;
  font-size: 12px;
}
